{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<style>
 .site-logo {
 	max-height: 256px;
 	}
 .gh-head, .site-header-content {
    color: white;
    background: black;
	}
 .post-card {
    min-height: 120px;
 }
</style>

<div class="site-header-content">
    {{#get "tags" limit="all" filter="slug:clockwork"}}
        {{#if feature_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                src="{{feature_image}}"
            />
        {{/if}}
    
    <h1 class="site-title">
        {{#if feature_image}}
            <img class="site-logo" src="{{feature_image}}" alt="{{slug}}" />
        {{else}}
            {{name}}
        {{/if}}
    </h1>
    <p>{{description}}</p>
    {{/get}}
</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        
        {{#get "posts" limit="all" filter="tag:dex+tag:clockwork+tag:hash-creature" order="title asc"}}
            {{#if posts}}
            <div class="post-feed">
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/dex-card.hbs --}}
                    {{> "dex-card"}}

                {{/foreach}}
            </div>
            {{/if}}
        {{/get}}

        {{#get "posts" limit="all" filter="tag:dex+tag:clockwork+tag:-hash-creature+tag:hash-world" order="title asc"}}
            {{#if posts}}
                <div class="post-feed">
                    {{#foreach posts}}

                        {{!-- The tag below includes the markup for each post - partials/dex-card.hbs --}}
                        {{> "dex-card"}}

                    {{/foreach}}
                </div>
            {{/if}}
        {{/get}}
    
        {{#get "posts" limit="all" filter="tag:dex+tag:clockwork+tag:-hash-creature+tag:-hash-world" order="title asc"}}
            {{#if posts}}
                <div class="post-feed">
                    {{#foreach posts}}

                        {{!-- The tag below includes the markup for each post - partials/dex-card.hbs --}}
                        {{> "dex-card"}}

                    {{/foreach}}
                </div>
            {{/if}}
        {{/get}}

    </div>
</main>
